[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
gathering = explicit
interpreter_python = auto_silent
vault_password_file = .vault_pass
forks = 5
timeout = 30
roles_path = ./roles

[persistent_connection]
command_timeout = 60
connect_timeout = 60
